<%- include ("partials/header") %>

<div class="jumbotron">
  <div class="container">
    <h1>EZH2 mutation status predictior</h1>
    <p>
      We are training the randomForest machine learning classifier to predict the EZH2 mutation status of DLBCL patients (for more background info about this disease, the mutation, and the machine learning classifier please check the <strong>Background Info</strong> tag.
    </p>
    <div style="float: left; width: 30%; margin: 15px;">
      <form action="/ml" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="n" name="n">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="m" name="m">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>

    <div style="float: right; width: 30%; margin: 15px;">
      <h4>Accuracy of the models </h4>
        <% data.forEach((cur) => { %>
          <p><%= cur %></p>
        <% }); %>
    </div>
    
  </div>
</div>

<%- include ("partials/footer") %>

