<%- include ("partials/header") %>

<div class="jumbotron">
  <div class="container">
    <h1>EZH2 mutation status predictior</h1>
    <p>
      We are training the randomForest machine learning classifier to predict the EZH2 mutation status of DLBCL patients (for more background info about this disease, the mutation, and the machine learning classifier please check the <strong>Background Info</strong> tag.
    </p>
    <form action="/ml" method="POST">
      <button>Submit</button>
      <% if (data !== null) { %>
      <p><%= data.name %></p>
      <p><%= data.accuracy %></p>
      <% } %>
    </form>
  </div>
</div>

<%- include ("partials/footer") %>

