<%- include ("partials/header") %>
<div class="column">
  <div class="jumbotron">
    <h1>EZH2 mutation status predictior</h1>
    <p>
      We are training the randomForest machine learning classifier to predict the EZH2 mutation status of DLBCL patients (for more background info please check the <strong>Background</strong> tags. Please input:
    <p>
      <strong>n</strong> - the number of subsets the whole dataset is divided into
    </p>
    <p>
      <strong>m</strong> - the number of genes that will be used to train the machine learning classifier each time.
    </p>
    
    <div class="jumbotron">
    <div style="float: left; width: 30%; margin: 15px;">
      <form action="/ml" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="n" name="n">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="m" name="m">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
    </div>

    <div class="jumbotron">
    <div style="float: right; width: 30%; margin: 15px;">
      <h4>Accuracy of the models </h4>
        <% data.forEach((cur) => { %>
          <p><%= cur %></p>
        <% }); %>
    </div>
    </div>
    
  </div>
</div>

<%- include ("partials/footer") %>

